/* Layout */
#patternMainContents {
    max-width: 960px;
    margin: auto;
}

#patternBottomBar {
  display: none;
}


/* Fix alignment of logo */
#patternTopBarContents > table > tbody > tr > td:nth-child(1) {
  float:left;
}

/* Fonts and text styling */
#patternPage {
  font-size: 130%;
  line-height: 130%;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  background: none;
}

pre, code {
  color: #333;
  margin: 0 0.2em 0 0.2em;
  background: aliceblue;
  box-shadow: 0 0 0 0.2em aliceblue;
  border-radius: 0.2em;
}

pre {
  background-color: #f6f6f6;
  border: 1px solid #e2e2e2;
  padding: 1em 1.5em;
}

.patternContent a {
  color: #0935B1 !important;
  border: none !important;
}

.patternContent a:hover {
  text-decoration: underline !important;
  background: none !important;
}

.patternContent h1 a,
.patternContent h2 a,
.patternContent h3 a,
.patternContent h4 a,
.patternContent h5 a,
.patternContent h6 a {
  color: #FE3200 !important;
}

/* Don't show external link images */
a[target=_blank] img {
  display: none;
}

a[target="_blank"]:after {
  content: " \2197";
}

/* Breadcrumbs */

.patternHomePath a:link {
  margin-right: 0.5em;
  border: none;
  color: #666;
}

/* The first link to the TWiki homepage, and I've never clicked on it */
.patternHomePath > :first-child {
  display: none;
}

#patternMainContents > div.patternTop > span.patternHomePath.twikiLeft > span:nth-child(2) {
  display: none;
}

/* .patternHomePath a:link:after {
  content: "/";
  padding-left: 0.75em;
  padding-right: 0.75em;
}
 */
.patternHomePath a:hover {
  color: #666;
  background: none;
  text-decoration: underline;
}

.patternHomePath img {
  display: none;
}

.patternHomePath .patternRevInfo a {
  margin: 0;
}

.patternHomePath .patternRevInfo a:after {
  content: none;
}

/* Table of contents */
.twikiToc {
  display: inline-block;
  margin: 0;
  background-color: #f6f6f6;
  border: 1px solid #e2e2e2;
  padding: 1em;
}

.twikiToc:before {
  content: 'Table of contents';
  display: block;
  font-size: 1.1em;
  margin: 0 0 0.5em 0;
}

ul, .twikiToc ul {
  margin: 0 0 0 1.1em;
  padding: 0em 0em 0em 0.5em;
  list-style: disc inside none;
}

li, .twikiToc li {
  margin: 0;
  padding: 0;
  background-image: none;
  list-style-position: outside;
}

/* Action buttons */
.patternToolBar > span a:link {
  display: inline-block;
  margin: 0 0.25em;
  padding: 0.25em 0.4em 0.25em 0.5em;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: none;
  font-size: 0.8em;
  font-weight: 400;
}

.patternToolBar > span a:link:hover {
  position: relative;
  top: 1px;
  background: #f9f9f9;
}

.patternToolBar > span a:link:active {
  position: relative;
  top: 2px;
  background: #f3f3f3;
}

.patternToolBar > span img {
  display: none;
}

.patternToolBar .twikiAccessKey {
  border: none;
  font-weight: 600;
}

.patternToolBar a:hover .twikiAccessKey {
  border: none;
  text-decoration: underline;
}

/* Put a little pencil next to the "Edit" action button,
 * presumed to be the first in the list
 */
.patternToolBar > span:first-child .twikiAccessKey:before {
  content: "\270E";
  font-weight: 400;
  padding-right: 0.25em;
}

/* Replace pencil icon with a symbol */
.patternActionButtons > span > span > a > img {
  display: none;
}
.patternActionButtons > span:first-child > span > a:before {
  content: "\270E";
}


/* Editor buttons */
.patternTopicActions, .patternTopicAction {
  background: none;
}

.twikiButton, .twikiSubmit {
  display: inline-block;
  margin: 0 0.25em;
  padding: 0.25em 0.4em 0.25em 0.5em;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: none;
  font-weight: 400;
  cursor: pointer;
}

.twikiButton:hover, .twikiSubmit:hover {
  position: relative;
  top: 1px;
}

.twikiButton:active, .twikiSubmit:active {
  position: relative;
  top: 2px;
}

.twikiSubmit {
  color: #fff;
  background-color: #0078e7;
  border: none;
}

.twikiButtonCancel {
  color: #fff;
  background-color: #ca3c3c;
  border: none;
}

.patternSigLine {
  display: none;
}

/* Upload form */
.twikiFormSteps {
  background: none;
}

.twikiFormStep {
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.twikiFormStep:last-child {
  border-bottom: none;
}

